@import "./colors.module";

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: sans-serif;
  min-height: 100vh;
  background-color: $dark-color;
}

.main {
  color: $light-color;
}

h1 {
  color: $primary-color;
  margin: 1rem;
}
